/* Set the background color to black and font color to antique white */
body {
    background-color: black;
    color: antiquewhite;
}

/* Center the output horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Remove the blue link underline */
a {
    text-decoration: none;
}

/* Style the links in gold with a designer vibe */
a {
    color: #ffc107;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    transition: all 0.3s ease-in-out;
}

/* Add hover effect to the links */
a:hover {
    color: #fff;
    text-shadow: 3px 3px #000;
}

a.back-btn {
    color: #9ACD32;
}

/* Style the delete button */
.delete-btn {
    color: #dc143c;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
    color: #fff;
    text-shadow: 3px 3px #000;
}